:root {
  --color-red: #e60000;
  --text-light: #fff;
  --light-dark: #323232;
  --movies: #0c0c0c;
  --text-dark: #999999;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

html body {
  position: relative;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}
